body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../icons/services.jpg');
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    background-color: #f6f1cb;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s linear;
}

    .card:hover {
        transform: translateY(-10px);
    }

    .card img {
        mix-blend-mode:multiply;
        width: 80px;
        height: 80px;
        margin-bottom: 15px;
    }

    .card h2 {
        color: #af7d1f;
        margin-bottom: 10px;
    }

    .card p {
        color: #555;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.3s ease, max-height 0.3s ease;
    }

    .card:hover p {
        opacity: 1;
        max-height: 200px;
    }

h1 {
    text-align: center;
    color: #333;
    width: 100%;
}
