@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    transition: all ease-in-out 0.3s;
    background-color: #f4f7fc;
    padding-top: 100px;
}

/* Custom Navbar Styling */
.navbar {
    background-color: rgba(239, 239, 239, 0.61);
    padding: 10px 20px;
    -webkit-box-shadow: 3px 3px 13.5px -3px #dcdcdc;
    -moz-box-shadow: 3px 3px 13.5px -3px #464646;
    box-shadow: 3px 3px 13.5px -3px #464646;
    margin-bottom: 5px;
}

.navbar-brand {
    color: #000 !important;
    font-size: 1.5em;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link {
    color: black !important;
}

.profile-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Table Styling */
table {
    width: 100%;
    margin: 20px 0;
}

    table th, table td {
        color: black;
        padding: 15px;
        text-align: center;
    }

    table th {
        background-color: black;
        color: white;
    }

    table td {
        background-color: white;
    }

    table tr th a {
        text-transform: capitalize;
        text-decoration: none;
        color: black;
    }

/* Background */

.container {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Button Styling */
.btn {
    margin: 5px;
}



/* CSS */
.logout-button {    text-decoration: none;
    text-transform: capitalize;
    background-color: #ff4949; /* Red background */
    color: white; /* White text */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    font-size: 16px; /* Increase font size */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
    transition: all 0.3s linear; /* Smooth transition */
}

    .logout-button:hover {
        border: 0.3px solid #ff4949;
        font-weight:400;
        background-color: #ffdada;
        color: #ff0000; /* Darker red on hover */
    }

    .logout-button:active {
        background-color: #e60000; /* Even darker red when pressed */
    }

    .logout-button:focus {
        outline: none; /* Remove focus outline */
        box-shadow: 0 0 0 3px rgba(255, 77, 77, 0.5); /* Add focus effect */
    }


/* Responsive Design */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.5rem;
    }
}
